<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 text-gray-50">
  <p class="mt-4 mb-4">Отдел коммуникаций НАСА каждую неделю получает тысячи сообщений со всего мира, и мы стараемся предоставлять
    своевременную информацию и ответы на вопросы. Тем не менее, мы рекомендуем вам использовать веб-сайт НАСА для
    поиска информации, которую вы ищете, или ответов на ваши вопросы, прежде чем отправлять запрос на информацию.
    НАСА также приглашает вас рассмотреть возможность использования одного или нескольких из следующих простых и
    удобных коммуникационных инструментов для получения обновлений НАСА о захватывающей работе, которую выполняет
    НАСА.
  </p>
  <a class="flex justify-center text-lg font-normal text-cyan-500 hover:text-cyan-400" href="https://www.nasa.gov/content/submit-a-question-for-nasa" target="_blank">Напишите нам </a>
</div>