<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 text-gray-50">
  <p class="text-2xl mb-7 mt-4">О Nasa</p>
  <p>
    Национальное управление по аэронавтике и исследованию космического пространства является гражданской космической
    программой Америки и мировым лидером в освоении космоса. Агентство располагает разнообразной рабочей силой,
    насчитывающей чуть менее 18 000 государственных служащих, и сотрудничает со многими другими американскими
    подрядчиками, научными кругами, международными и коммерческими партнерами в целях изучения, открытия и
    расширения
    знаний на благо человечества. С годовым бюджетом в 23,2 миллиарда долларов в 2021 финансовом году, что
    составляет
    менее 0,5% от общего бюджета США. из федерального бюджета НАСА поддерживает более 312 000 рабочих мест по всей
    территории Соединенных Штатов, принося более 64,3 миллиарда долларов общего объема экономического производства
    (2019
    финансовый год).
  </p>
  <p class="mt-4">
    В своих 20 центрах и установках по всей стране – и единственной национальной лаборатории в космосе – НАСА
    изучает Землю, включая ее климат, наше Солнце, нашу солнечную систему и за ее пределами. Мы проводим
    исследования, испытания и разработки для развития аэронавтики, включая электрическую тягу и сверхзвуковой полет.
    Мы разрабатываем и финансируем космические технологии, которые позволят в будущем исследовать космос и принесут
    пользу жизни на Земле.
  </p>
  <p class="mt-4">
    НАСА также реализует подход к исследованию Луны и Марса, который включает в себя сотрудничество с промышленностью
    США, международными партнерами и академическими кругами для разработки новых технологий и отправки научных
    исследований, а вскоре и людей для исследования Луны в рамках миссий Artemis, которые помогут подготовиться к
    исследованию Красной планеты человеком. В дополнение к этим основным миссиям агентство делится тем, что оно узнает,
    чтобы его информация могла улучшить жизнь людей по всему миру. Например, компании используют открытия и технологии
    НАСА для создания новых продуктов для широкой публики. Чтобы обеспечить будущий успех агентства и нации, НАСА также
    поддерживает образовательные усилия в области STEM с акцентом на увеличение разнообразия в нашей будущей рабочей
    силе.
  </p>
</div>